<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <title></title>
  </head>
  <body>
    <div class='container'>
        <div id='head' >
        <app-header>header is working </app-header>
        </div>

      <div id='nav'>
        <app-nav> nav is working </app-nav>
      </div>
      <div id='main' >
        <app-main>main is working</app-main>
      </div>
    </div>
  </body>
</html>
